.img-port{
    /* width: 20%; */
    height: 290px;
    border-radius: 5px;
    margin-bottom: 40px;
    transition: 1s;
    cursor: pointer;
}
.img-port:hover{
    transform: scale(1.6);
    z-index: 1;
    /* height: 70vh; */

}
.block-portfolio{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin-left: 10%;
}
.photo{
    display: flex;
    /* flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 30px; */
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    /* margin: 10px; */
    margin: 60px;
    
}