img{
    width: 30%;
    /* height: 30px; */
    border-radius: 10px;
    margin: 20px;
}
.photo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}