
.home {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 80vh;
  width: 80%;
  margin-left: 10%;
}

.img {
  width: 40%;
  border-radius: 20px;
  backdrop-filter: blur(5px);
}
.block-text {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
p {
  color: white;
}
.text-name {
  font-weight: 500;
  font-size: 80px;
}
.txt {
  font-size: 40px;
}
/* .info-text{
  font-family: "Lack";
  font-family: "Mettlach";
} */