.block{
    display: flex;
    justify-content: center;
    align-items: center;
}
.header{
    width: 30%;
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 3px;
}
p{
    /* font-family: 'Advent Pro', sans-serif; */
}
.text{
    color: white;
    font-size: 25px;
    /* font-family: 'Advent Pro', sans-serif; */
    font-weight: 200;
    text-decoration: none;
    margin-top: 20px;
    transition: 1s;
}
.text:hover{
    text-shadow: 3px 3px 5px red;
    transform: scale(1.2);
}
