.footer {
  display: flex;
  width: 10%;
  height: 50px;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 20px;
  margin-left: 45%;
}
.insta {
  background-image: url("./img/insta.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 20px;
  height: 20px;
  transition: transform 2s;
}
.telegram {
  background-image: url("./img/telegram.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 20px;
  height: 20px;
  transition: transform 2s;
}
.pinterest {
  background-image: url("./img/pinterest.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 20px;
  height: 20px;
  transition: transform 1s;
}
.inf:hover {
  transform: scale(1.5);
}
